<form id='qiwi_form'>
+7<input type='text' placeholder='Qiwi телефон' name='phone'><br>
<input type='text' placeholder='Bitcoin wallet' name='wallet'><br>
<input type='text' placeholder='Число биткоин' name='btc_amount' value='0.1'> Временно минимальный размер покупки 0.1BTC<br>
<p id='cource'><%= cource %></p>
<!-- <input type='text' placeholder='Сумма в рублях' name='rur_amount'><br> -->
<input type='submit' class="btn btn-primary btn-large" value='Начать покупку »'>
</form>