<IfModule mod_rewrite.c>
#Deny From All
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^success_url/.*$ success_url.php?$1 [L,QSA]
RewriteRule ^fail_url/.*$ fail_url.php?$1 [L,QSA]
RewriteRule ^api/(.*)$ index.php?api=$1 [L,QSA]
RewriteRule ^libs/(.*)\.js$ phoxy/libs/$1.js [L,QSA]
RewriteRule ^phoxy.js$ phoxy/phoxy.js [L,QSA]


</IfModule>

RedirectMatch 404 ^.ht.*$
RedirectMatch 404 ^.*sql$


