<div class="row text-center">
  <div class="col col-md-12">
    <hr>
    <hr class="white">
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input class="form-control text-right" placeholder="Ввведите номер транзакции" type="text">
      </div>
      <button type="submit" class="btn btn-default search"></button>
    </form>
  </div>
</div>