<div class="btn-group bottom-nav">
  <a href="#" class="btn btn-default sell">&nbsp;</a>
  <a href="#" class="btn btn-default buy">&nbsp;</a>
  <a href="#" class="btn btn-default forum">&nbsp;</a>
  <a href="#" class="btn btn-default link">&nbsp;</a>
</div>