<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="bootstrap/js/bootstrap.min.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">BTC Real</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#buy/qiwi/Form">Купить</a></li>
          <li><a href="#sell/qiwi/Form">Продать</a></li>
          <li><a href="#About">О нас</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div id='wrap'>
  <div style='padding-top: 40px;'></div>
  <div class='container'>
    <div class='hero-unit' id='hero_content'>
      <p>Вы можете купить биткоины за 5 минут, без регистрации, по курсу крупнейшей биржи - MtGox
      </p>
      <p><a href="#buy/qiwi/Form" class="btn btn-primary btn-large">Купить за Qiwi »</a></p>
    </div>
  </div>
  <div id='push'></div>
</div>
  <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }

    </style>

<div id="footer">
  <div class="container">
    <p class="muted credit">BTC Real 2013 (c).</p>
  </div>
</div>