<div class="row bitcoin_and_mtgox">
  <hr>
  <hr class="white">
  <div class="col-md-6 bitcoin">
    <h2>BitCoin</h2>
    <div class="title">Блоков:</div><div>999,999</div><div>24:60</div>
    <div class="title">Сложность:</div><div>999,999</div><div>24:60</div>
    <div class="title">Прогноз:</div><div>999,999</div><div>24:60</div>
    <div class="title">Мощность:</div><div>999,999</div><div>24:60</div>
    <br>
  </div>
  <div class="col-md-6 mtgox">
    <h2>MtGox</h2>
    <div class="title">Last:</div><div>999,999</div>
    <div class="title">High:</div><div>999,999</div>
    <div class="title">Low:</div><div>999,999</div>
    <div class="title">Buy:</div><div>999,999</div>
    <div class="title">Sell:</div><div>999,999</div>
    <div class="title">Volume:</div><div>999,999</div>
  </div>
</div>