<div class="col-md-6 text-center">
  <div class="sell text-left">
    <h2>Продать BitCoin</h2>
    <hr>
    <hr class="white">
    <p>Калькулятор продажи Bitcoin ($1 = 33.13)</p>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input class="form-control text-right" placeholder="Сумма" type="text">
      </div>
      <button type="submit" class="btn btn-link" disabled="disabled">BTC = $999.99</button>
    </form>
    <p>Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла.</p>
  </div>
  <a class="btn btn-block btn-default btn-lg sell">9%&nbsp;&nbsp;&nbsp;&nbsp;9999.99</a>
</div>
